<div class="navBar-controls">

	<button class="btn btn-sm btn-secondary" (click)="handleFirstPageClick()" type="button"><i class="fas fa-step-backward"></i></button>
      <button class="btn btn-sm btn-secondary" (click)="handlePreviousClick()" type="button"><i class="fas fa-caret-left"></i></button>

<div *ngIf="actualPage> 0 && totalPage > 0" class="pageDisplay">
  <form (ngSubmit)="onSubmit()" #pageDisplayForm="ngForm">
  <input type="text" [(ngModel)]= "displayPage" name="page" />
  </form>
      <span>/</span>
      <span>{{totalPage}}</span>
</div>

      <button class="btn btn-sm btn-secondary" (click)="handleNextClick()" type="button"><i class="fas fa-caret-right"></i></button>
      <button class="btn btn-sm btn-secondary" (click)="handleLastPageClick()" type="button"><i class="fas fa-step-forward"></i></button>
</div>