/* ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li{
  display: inline-block;
}

ul li{
  display: inline-block;
}



li + li{
  margin-left:2px;
} */

button{
  width: 40px;
  padding: 1px;
  font-size: 10px;
}

button + button{
  margin-left: 5px;
}

.pageDisplay{
  font-family: lato;
 display: inline-block;
 margin: 0 10px;
}

.pageDisplay input{
  width: 30px
}

navBar-controls{
  display:inline-block;
}

.pageDisplay span{
  color: #d0d0d0;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle
}

.pageDisplay span + span {
margin-left: 3px;
}

.pageDisplay input[type=text]{
  width: 25px;
    height: 10px;
    border: none;
    background: #292828;
    color: #d0d0d0;
    text-align: center;
    font-family: lato;
    font-size: 12px;
    font-weight: bold;
    padding: 0;
}

form{
  display:inline;
}