<main>
	<!-- <nav class="menu">
		<ul>


		</ul>
	</nav> -->

	<div class="viewerBody">
		<div class="sideBar">
			<ul>
				<li>
					<i class="far fa-file"></i>
          </li>
          	<li>
					<i class="fas fa-folder-plus" (click)="newFile.click()" ></i>
          <input hidden type="file" #newFile (change)="handleFileSelect($event)"/>
          </li>
          	<li>
					<i class="fas fa-file-download"></i>
          </li>
      </ul>
		</div>
		<div class="sideBar-thumbNav">
      <app-thumbnailNav></app-thumbnailNav>
		</div>

		<div class="viewerWrapper">
			<app-viewer [files]="mockFiles"></app-viewer>
		</div>
	</div>
</main>