.thumbnail{
  display: inline-block;
  cursor: pointer;
  border:1px solid black;
}

.thumbnail.selected{
  border: 1px solid #828282;
}

img, svg{
  width: 100px;
  height: 150px;
}

.loading{
  border: 1px solid black;
}